body{
    padding-top: 10em;
}
.media-block {
    margin-bottom: 50px;
    white-space: normal;

}
.card-bordered {
    border-bottom: 0;
    border-top: 0;
}


.ff
{
    width: 200px !important ;
    height: 200px !important;
}
.TotalButton {
    top: 300px;
    right: 0;
    position: fixed;
    background-color: rgb(219, 218, 218);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.Checkout {
    top: 50px;
    /* left: 100px; */
    right: 0;
    /*position: fixed; */
    /* background-color: rgb(219, 218, 218); */
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 900;
}
#checkout{
    font-weight: 900;
}

.navbar{
    padding: 1.1rem 1rem;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f7631b;
}
.navbar-light .navbar-toggler{
    margin-left: auto
}
body{text-align: center}
.btn[class="pn btn"] {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 1px;
}
.numberItem {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
    background: yellow;
    /*border: 2px solid #666;*/
    color: #666;
    text-align: center;
    font: 15px Arial, sans-serif;
}
